:root {
    --primary-color: #050404;
    --secondary-color: #fcfcfc;
    --accent1-color: #8DE4FF;
    --accent2-color: #87CBAC;
  
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Kanit', serif;
  
    --nav-background-color: #a1a1a1;
    --nav-link-color: #8DE4FF;
    --nav-hover-link-color: #050404;
    --nav-hover-background-color: #a1a1a1;
}
  
header {
    background-color: #ffffff;
    padding: 15px;
    color: var(--accent1-color);
    max-width: 840px;
    margin: 0 auto;
}
  
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center; /* Center nav links */
    width: 100%; /* Make nav full width */
}
  
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
  
body {
    background-color: #ffffff;
    max-width: 1080px;
    padding: 20px;
    margin: 0 auto; /* Center body content */
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
  
p {
    padding: 25px;
}
  
.hero img {
    margin-left: 15px;
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    position: relative;
}

.hero h1 {
    position: absolute;
    width: 1024px;
    color: var(--secondary-color);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 auto;
    left: 23.1%;
    top: 32.5%;
}

.hero article {
    position: absolute;
    width: 800px;
    height: 200px;
    background: rgba(19, 160, 185, 0.8) 400px;
    top: 40%;
    left: 29%;
    display: flex;
    align-items: center;
}
  
.hero article p {
    width: 500px;
    display: block;
    box-sizing: border-box;
    order: 1;
}
  
.hero article img {
    max-width: 70%;
    max-height: 70%;
    margin-left: auto;
    order: 2;
}
  
.mainsec {
    position: relative;
    top: 350px;
}
  
.mainsec p {
    padding: 0%;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer {
    position: relative;
    top: 350px;
    left: 1.15%;
    max-width: 840px;
    margin: 0 auto;
}