@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Playfair+Display&display=swap');

:root {
    --primary-color: #050404;
    --secondary-color: #fcfcfc;
    --accent1-color: #8DE4FF;
    --accent2-color: #87CBAC;
  
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Kanit', serif;
  
    --nav-background-color: #a1a1a1;
    --nav-link-color: #XXXXXX;
    --nav-hover-link-color: #XXXXXX;
    --nav-hover-background-color: #XXXXXX;
}
header {
    background-color: #ffffff;
    padding: 15px;
    color: var(--accent1-color);
    left: 0%;
}
nav {
    
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    left: 200px;
    width: 1024px;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    left: 0%;
    top: 10%;
}
body {
    background-color: #ffffff;
    max-width: 1080px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 25px;
}
.hero img {
    margin-left: 15px;
    display: block;
    position: absolute;
    top: 29%;
    left: auto;
    max-width: fit-content;
}
.hero h1 {
    width: 1024px;
    position: absolute;
    top: 35%;
    left: 29.15%;
    color: var(--secondary-color);
    background: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero article {
    position: absolute;
    width: 800px;
    height: 200px;
    background: rgba(19, 160, 185, 0.7) 400px;
    top: 41.5%;
    left: 7%
}
.hero article p {
    position: relative;
    top: -70%;
    left: auto;
    width: 500px;
    display: block;
    box-sizing: border-box;
}
.hero article img {
    position: relative;
    max-width: 70%;
    max-height: 70%;
    left: 66%;
    top: 16.5%;
}
.mainsec {
    position: relative;
    top: 350px;
}
.mainsec4 {
    bottom:5%
}
.mainsec5 {
    bottom:.5%
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer {
    position: relative;
    top: 350px;
    left: 1.15%;
}