* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
  }
nav a {
    color: white;
    display: block;
    padding: 20px;
  }
h1 {
    color: steelblue;
  }
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
p {
    padding-left: 10;
    padding-right: 10;
    line-height: 2;
  }
aside {
    width: 500px;
    margin: 15px;
    border: 1px;
    padding: 10px;
    background-color: #000;
    color: #aaa;
}
aside img {  
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: auto;
}
aside h2 {
  position: relative;
  text-align: center;
}
main img {
    width: 150px;
    height: auto;
    float: right;
}
footer {
    border-top: 1px solid #000;
    margin-top: 15px;
    text-align: center;

}
/* Class Selectors */
box {
  margin: 1rem;
  border: 1px solid #000;
  padding: 1rem;
  background-color: #999;
  color: #000;
}